Package               Version
--------------------- -------
Django                2.0.4  
pip                   10.0.1 
pytz                  2018.4 
setuptools            39.0.1 
virtualenv            15.2.0 
virtualenvwrapper-win 1.2.5  
