{% load staticfiles %}

<html>
    <head>

        <title>The Things Network Marketplace</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/site_mp.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>

    <body>

	<div class="page-header">
		<img src="https://media.mehrnews.com/d/2016/04/30/4/2063559.jpg?ts=1486462047399" style="width: 200px;" />
        	IoT-ready products & solutions offered by The Things Industries partners.
		<h1><a href="/">The Things Network Marketplace</a></h1>
		<a href="{% url 'thing_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

    	</div>
    	<div class="content container">
        	<div class="row">
            		<div class="col-md-8">
            			{% block content %}
            			{% endblock %}
			</div>
		</div>
	</div>
    
	</body>
</html>

