{% load staticfiles %}

<html>
    <head>

        <title>The Things Network Marketplace</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/site_mp.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>

    <body>

	<div class="page-header">
		<div class="container">
		<div class="row">
			<div class="col-lg-3"><img src="https://media.mehrnews.com/d/2016/04/30/4/2063559.jpg?ts=1486462047399" style="width: 275px;" /></div>
        		<div class="col-lg-9">
				<h1><a href="/">The Things Network Marketplace</a></h1>
				<h4>IoT-ready products & solutions offered by The Things Industries partners</h4></div>
		
		</div>
		</div>

    	</div>
    	<div class="content container">
        	<div class="row">

			<nav class="col-lg-3">
				<div class="top-menu">
				<a href="/"><span class="glyphicon glyphicon-home"></span>  Homepage</a> </br>
				<a href="{% url 'thing_new' %}"> Create a thing </a> </br>
				</div>
			</nav>
			<section class="col-lg-9">
            			{% block content %}
            			{% endblock %}
			</section>
		</div>
	</div>
    
	</body>
</html>

